body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DCD5D8;

  background-image: url('./bg.png');
  background-repeat:repeat;
  background-size: 200px;
  background-position: center;
  overflow-y: overlay;

}


@font-face {
  font-family: 'moon-get';
  src: local('moon-get'), url('./fonts/moon_get.otf') format('opentype');
}

.moon {
  font-family: 'moon-get';
}

h1, h2, h3, h4, h5, h6 {
  color: #E91F41;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}



.header {
  background: #E91F41;
  top: 0;
  width: 100%;
height: 60px;
display: flex;
align-items: center;

}

a {
  color: #E91F41
}

.landingContainer {
  max-width: 800px;
  margin: 30px auto;
  padding: 1px 10px 10px 10px;


  background: rgba(220, 213, 216, 0.1);
border-radius: 16px;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 2px solid #E91F41
}


.pseudolink {
  text-decoration: underline;
  cursor: pointer
}

.label {
  font-weight: 600;


}